<html>
    <head>
        <title>Welcome Page</title>
    </head>
    <body>
        <h1>Welcome to Fall Detection Model API!</h1>
        <p>Use postman and give POST request to 'https://falldetectionsystemapi.herokuapp.com/falls' to test</p>
        <p>THe POST parameter is like this one -> {"dataset_ID": 1, "time": 0.123, "payload": "{'C1':[1.2],'C2':[1.43],'Roll':[0.453],'Pitch':[-7.6],'Yaw':[4.1]}"}</p>
        <p>It will return the prediction of pre-fall, fall or post-fall</p>
    </body>
</html>